#            _ _   _                            
#       __ _(_) |_(_) __ _ _ __   ___  _ __ ___ 
#      / _` | | __| |/ _` | '_ \ / _ \| '__/ _ \
#     | (_| | | |_| | (_| | | | | (_) | | |  __/
#    (_)__, |_|\__|_|\__, |_| |_|\___/|_|  \___|
#      |___/         |___/                      


# Block all files/folders in .gitignore's directory
/*

# Pass .gitignore itself and the README
!.gitignore
!README.md

#### MASTER PASSLIST ####

!git/
git/*
!git/config

!i3/
i3/*
!i3/config

!nvim/
nvim/*
!nvim/init.vim

!python/
python/*
!python/pythonrc.py

!qutebrowser/
qutebrowser/*
!qutebrowser/config.py

!ssh/
ssh/*
!ssh/config

!startpage/
startpage/*
!startpage/index.html
!startpage/style.css

!X11/
X11/*
!X11/xinitrc
# !X11/Xmodmap
!X11/Xresources

!zsh/
zsh/*
!zsh/.zprofile
!zsh/.zshenv
!zsh/.zshrc

